.fees
  display: flex
  flex-direction: column
  flex: 1
  align-items: center
  margin: 0 auto
  margin-top: 1rem
  gap: 2.5rem
  // width: 30rem

.fees-prices
  display: flex
  gap: 8rem

.fees-individual
  display: flex
  flex-direction: column
  gap: 0.5rem
  text-align: center
  span
    font-size: 3rem
  a
    font-weight: 700
    font-size: 1.6rem
    text-decoration: underline
    font-family: Oleo Script Swash Caps
    color: #e8652c
  ul
    flex: 1
  li
    margin-left: 20px
  b
    margin-top: 2rem
    font-size: 1.6rem
    font-family: Oleo Script Swash Caps