nav
  display: flex
  padding: 2.3rem 2.5rem
  justify-content: space-between
  align-items: center
  .nav-title
    font-size: 1.6rem
  span
    font-size: 2.2rem

.menu-list
  display: flex
  gap: 3rem
  font-size: 1.1rem

.hamburger-icon
  display: none

.mobile-menu
  display: none

@media (max-width: 768px)
  nav
    padding: 1rem 2rem
    .nav-title
      font-size: 1.2rem
    span
      font-size: 1.2rem

  .hamburger-icon
    display: flex

  .menu-list
    display: none

  .mobile-menu
    display: flex
    justify-content: center
    gap: 1rem

  
  