.works
  flex: 1
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem
  padding: 1rem

.work-images
  position: relative

.work-image
  width: 700px

.work-info
  display: flex
  flex-direction: column
  gap: 1.5rem

.work-youtube-link
  display: flex
  gap: 0.5rem
  align-items: center
  img
    width:30px 
      
.work-arrows
  cursor: pointer

.mobile-arrow
  display: none

@media (max-width: 768px)
  .desktop-arrow
    display: none

  .mobile-arrow
    display: flex

  .works
    flex-direction: column

  .work-image 
    width: 100%



  